:root {
  --nav-bar-height: 85px;
  --base-color-1: #222;
  --base-color-2: #cc4125;
  --mountain-item-left: 25px;
  --base-border-radius: 5px;
  --input-width: 56vw;
  --input-max-width: 470px;
  --base-section-padding: 4%;
  --association-charts-height: 100px;
}

.base-color-2 {
  color: var(--base-color-2);
}

/* @import url( "https://use.typekit.net/pkc7ths.css" ); */

@font-face {
  font-family: "Britannic Bold";
  src: url("../assets/8be4a2f403c2dc27187d892cca388e24.eot"); /* IE9*/
  src: url("../assets/8be4a2f403c2dc27187d892cca388e24.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/8be4a2f403c2dc27187d892cca388e24.woff2")
      format("woff2"),
    /* chrome firefox */ url("../assets/8be4a2f403c2dc27187d892cca388e24.woff")
      format("woff"),
    /* chrome firefox */ url("../assets/8be4a2f403c2dc27187d892cca388e24.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("../assets/8be4a2f403c2dc27187d892cca388e24.svg#Britannic Bold")
      format("svg"); /* iOS 4.1- */
  font-display: swap;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--base-color-2) !important;
  outline: none;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
}

@media (min-width: 375px) {
  .swiper-wrapper {
    padding-top: 38px;
  }

  .swiper-slide.swiper-slide-next .coach-slide {
    -webkit-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
  }
}

@media (min-width: 800px) {
  .swiper-slide.swiper-slide-next .coach-slide {
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
  }
}

@media (min-width: 1024px) {
  .coach-slide .image-container {
    width: 150px;
    height: 150px;
    margin: auto;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(45deg, #222428, #444856);
  background: linear-gradient(45deg, #222428, #444856);
  color: #fff;
  z-index: 4000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.loader h1 {
  /* font-weight-bold text-shadow */
  font-weight: bold;
  text-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: noto-sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

p.left-align {
  text-align: left;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center {
  text-align: center;
}

@media (min-width: 1230px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1229px) {
  .desktop {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.rounded-full {
  border-radius: 50%;
}

.button {
  cursor: pointer;
  z-index: 50;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: "Britannic Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.3px;
  margin: 21px 0px;
  margin-bottom: 0;
  color: #000;
}

.section.no-hero h1 {
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h2 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 45px;
}

@media (min-width: 1230px) {
  .section.no-hero h1 {
    font-size: 56px;
    margin-bottom: 150px;
  }
  h2 {
    margin-bottom: 150px;
  }
}

h2,
h3 {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}
h2.left-align,
h3.left-align {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
h2.left-align::before,
h3.left-align:before {
  left: 1ch;
  width: 5ch;
}

@media (min-width: 600px) {
  h2.left-align,
  h3.left-align {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  h2.left-align::before,
  h3.left-align::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@media (min-width: 1024px) {
  h2::before,
  h3::before {
    top: 38px;
  }
}

h2:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: -10px;
  left: 25%;
  border-bottom: 2px solid var(--base-color-2);
}

h3 {
  font-size: 14px;
  font-family: "Noto Sans";
}

h3:before {
  content: "";
  position: absolute;
  width: 105%;
  height: 1px;
  bottom: 0;
  border-bottom: 2px solid var(--base-color-2);
}

p {
  font-size: 15px;
  text-align: justify;
  color: #000;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 40px;
  }

  p {
    font-size: 24px;
  }
}
.buttonWithArrow {
  font-size: calc(var(--base-font-size) + 1px);
  color: var(--base-color-2);
  font-weight: bold;
}

.buttonWithArrow.left {
  text-align: left;
}

.buttonWithArrow.right {
  text-align: right;
}

.buttonWithArrow.right::after {
  left: 4px;
}

.buttonWithArrow:after {
  content: url(/img/menu-button-icon.png);
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  top: 4px;
  left: 15px;
}

@media (min-width: 1230px) {
  .buttonWithArrow:after {
    content: "";
    background: url(/img/menu-button-icon-desktop.png);
    height: 33px;
    width: 37px;
    background-size: auto;
    background-repeat: no-repeat;
    top: 8px;
  }
}

.main-container {
  margin-top: 20px;
}

.modal-open .navbar {
  display: none;
}

body.modal-open {
  overflow: hidden;
}
body.modal-open .main-container {
  margin-top: 0;
}

@media (min-width: 1024px) {
  body.modal-open .main-container {
    margin-top: 20px;
  }
  .modal-open .navbar {
    display: initial;
  }
}

.navbar {
  z-index: 9999999;
  position: fixed;
  top: -1px;
  left: -1px;
  right: -1px;
  height: var(--nav-bar-height);
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.navbar.open {
  background: black;
}
.navbar::after {
  content: "";
  width: 100%;
  height: 146px;
  background: url(/img/fejlec.png);
  background-position: center;
  display: block;
  margin-top: -85px;
  z-index: -1;
  pointer-events: none;
}

@media (min-width: 1080px) {
  .navbar::after {
    background-size: cover;
  }
}

.navbar .wrapper {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .hamburger-wrapper {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar .hamburger {
  width: 40px;
  height: 2px;
  background: #fff;
  border-radius: var(--base-border-radius);
  -webkit-box-shadow: 0 2px 5px rgb(255 101 47 / 20%);
  box-shadow: 0 2px 5px rgb(255 101 47 / 20%);
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  margin: 11px 0px;
  pointer-events: none;
}

.logo-container {
  text-align: center;
}

.open.navbar .hamburger-wrapper .hamburger:nth-child(2) {
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}

.open.navbar .hamburger-wrapper .hamburger:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(8px, 10px);
  -ms-transform: rotate(45deg) translate(8px, 10px);
  transform: rotate(45deg) translate(8px, 10px);
}

.open.navbar .hamburger-wrapper .hamburger:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.navbar .menu-content {
  position: fixed;
  background: transparent;
  left: -100%;
  top: calc(var(--nav-bar-height) - 1px);
  bottom: 0;
  width: 100%;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.navbar .mobile.menu-content .menu-items > div {
  margin-top: 20px;
}

.open.navbar .mobile.menu-content {
  left: 0;
  height: 100%;
  background: var(--base-color-1);
}

.navbar .menu-content .menu-items {
  color: white;
  list-style-type: none;
  margin: 0;
  max-height: 433px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
}

.navbar .menu-content .menu-items li {
  margin: 4px;
  text-align: center;
  width: 100%;
  font-size: var(--base-font-size);
  width: 16ch;
  text-align: left;
}
.navbar .menu-content .menu-items li.active {
  background: var(--base-color-2);
  border-radius: var(--base-border-radius);
}

.navbar .menu-content .menu-items li .link-item {
  text-align: left;
  padding: 3px 5px;
  border-radius: var(--base-border-radius);
}
.navbar .menu-content .menu-items li .link-item:hover {
  color: #999999;
}

.navbar .menu-content .menu-items li .link-item:active {
  background: var(--base-color-2);
}

.navbar .menu-content.mobile .menu-items .separeted li.active {
  color: #fff;
}

.navbar .menu-content.mobile .menu-items .separeted li {
  font-size: calc(var(--base-font-size) + 1px);
  color: var(--base-color-2);
}
.navbar .menu-content.mobile .menu-items .separeted li:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: url(/img/menu-button-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  /* margin-top: 12px; */
  margin-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 1230px) {
  .navbar.open {
    background: none;
  }

  .navbar {
    background: #222222;
  }

  .navbar::after {
    content: none;
  }

  .navbar .logo-container {
    width: 100px;
  }
  .navbar .menu-content {
    position: relative;
    left: 0px;
    top: 0;
    bottom: unset;
  }

  .navbar .menu-content .menu-items li {
    padding: 7px 10px;
    margin: 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.1;
  }

  .navbar .menu-content .menu-items li .link-item {
    width: auto;
  }

  .navbar .menu-content .menu-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navbar .menu-content .menu-items .separeted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-container {
    margin-top: 50px;
  }

  .navbar .wrapper {
    height: 100%;
  }
}

/*Main Content*/

.main-container > div:not(.fw) {
  /* padding: 0 var(--base-section-padding); */
  padding-bottom: 22%;
  padding-top: 35px;
}

.hero-container {
  max-height: 540px;
  overflow: hidden;
  background: white;
  min-height: 45vh;
}

@media (min-width: 1230px) {
  .hero-container {
    min-height: 59vh;
  }

  .hero-container .button-container {
    display: flex;
    position: absolute;
    inset: 0;
    align-items: flex-end;
    margin-bottom: 40px;
    column-gap: 40px;
  }
}

.hero-container img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.section {
  text-align: center;
}
.content {
  max-width: 1280px;
  margin: auto;
  padding: 0 var(--base-section-padding);
}

.section:nth-of-type(odd) {
  background: var(--base-color-1);
}
.section:nth-of-type(even) {
  background: #fff;
}

.section:nth-of-type(odd) h2 {
  color: #fff;
}

.section:nth-of-type(odd) p {
  color: #fff;
}

.section:not(.footer):nth-of-type(odd)::before {
  content: "";
  position: absolute;
  background: url(/img/dark-sep.png);
  background-size: cover;
  background-position: top;
  left: 0;
  right: 0;
  top: 0;
  height: 18vh;
  margin-top: -12vw;
}

.section:nth-of-type(odd) .details-container .MuiSvgIcon-root {
  color: #fff;
}

.section:nth-of-type(even)::before,
footer .section::before {
  content: "";
  position: absolute;
  background: url(/img/white-sep.png);
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  margin-top: -19vw;
}

@media (min-width: 499px) {
  .section:nth-of-type(even)::before,
  footer .section::before {
    height: 27vh;
  }
}

.section.title-desc h1 {
  margin-top: 0;
}

.home .section.title-desc.intro .button {
  padding-right: 0;
}

.section.title-desc.intro .button {
  text-align: right;
  padding-right: var(--base-section-padding);
}

@media (min-width: 800px) {
  .section:nth-of-type(odd)::before {
    background-size: contain;
    margin-top: -5%;
  }

  footer .footer.section::before {
    background-size: cover;
    margin-top: -18%;
  }
}

@media (min-width: 1024px) {
  .section:not(.footer):nth-of-type(odd)::before {
    content: none;
  }

  .section:nth-of-type(2n):before,
  footer .section:before {
    content: none;
  }

  .main-container > div:not(.fw) {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.section h2,
.section h3 {
  text-align: center;
  display: inline-block;
}

.section.interested .image-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 138px;
  flex: 0 0 138px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.section.interested .image-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 138px;
  flex: 0 0 138px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 211px;
  margin: 10px 2px;
}

.section.interested .image-card .card-image {
  min-height: 216px;
}
.section.interested .image-card .rotateIcon {
  position: absolute;
  right: 4px;
  top: 0;
  z-index: 2;
}

.section.interested .image-card img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}

.section.interested .image-card p {
  text-align: center;
  margin: 0;
  background: #f5f5f5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  word-spacing: 100vw;
  color: #000;
}
.section.interested .image-card .extraInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #2c2621ed;
  color: white;
}
.section.interested .image-card .extraInfo p {
  background: transparent;
  color: inherit;
  word-spacing: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
}

.section.interested .button {
  margin-top: 40px;
}

@media (min-width: 800px) {
  .section.interested .image-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 202px;
    flex: 0 0 202px;
    min-height: 300px;
    margin: 5px;
  }
}

.btn {
  background-color: var(--base-color-2);
  border-radius: var(--base-border-radius);
  min-width: 140px;
  color: white;
  padding: 5px 10px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.section.expect .mountain-dec-container {
  min-height: 400px;
  text-align: left;
}
.section.expect.mountain-dec {
  padding-bottom: 0px;
  text-align: center;
}
.section.expect.mountain-dec h2 {
  margin-top: 10%;
}

@media (min-width: 372px) {
  .section.expect.mountain-dec {
    padding-bottom: 1%;
  }
}

@media (min-width: 900px) {
  .section.expect.mountain-dec {
    padding-bottom: 3%;
  }
}

@media (min-width: 1024px) {
  .section.expect.mountain-dec {
    padding: 0;
  }
  .section.expect .mountain-dec-container {
    min-height: 430px;
    text-align: center;
  }
}

.section.expect .mountain-items {
  z-index: 3;
  top: -26px;
}

.section.expect .mountain-items .item {
  border: 2px solid var(--base-color-2);
  border-radius: 28px;
  padding: 3px 10px;
  text-align: center;
  width: 20ch;
  background: #fff;
  margin: 10px 0px;
}
.section.expect .mountain-items .item::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: url(/img/rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -15px;
  left: 0;
}

.section.expect .mountain-items .item:nth-of-type(1) {
  left: var(--mountain-item-left);
}

.section.expect .mountain-items .item:nth-of-type(2) {
  left: calc(var(--mountain-item-left) + 17px);
}
.section.expect .mountain-items .item:nth-of-type(3) {
  left: calc(var(--mountain-item-left) + 35px);
}
.section.expect .mountain-items .item:nth-of-type(4) {
  left: calc(var(--mountain-item-left) + 48px);
}
.section.expect .mountain-items .item:nth-of-type(5) {
  left: calc(var(--mountain-item-left) + 67px);
}
.section.expect .mountain-items .item:nth-of-type(6) {
  left: calc(var(--mountain-item-left) * 5 + 5vh);
  width: 14ch;
}
.section.expect .mountain-items .item:nth-of-type(7) {
  left: calc(var(--mountain-item-left) * 6);
}
.section.expect .mountain-items .item:nth-of-type(8) {
  left: calc(var(--mountain-item-left) * 7);
}
.section.expect .mountain-items .item:nth-of-type(9) {
  left: calc(var(--mountain-item-left) * 8);
}

@media (min-width: 1024px) {
  .section.expect .mountain-items .item {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .section.expect .mountain-items .item:nth-of-type(1) {
    left: 36%;
    top: 30px;
  }
  .section.expect .mountain-items .item:nth-of-type(2) {
    left: 11%;
    top: 104px;
  }
  .section.expect .mountain-items .item:nth-of-type(3) {
    left: 9%;
    top: 105px;
  }
  .section.expect .mountain-items .item:nth-of-type(2)::before,
  .section.expect .mountain-items .item:nth-of-type(3)::before {
    left: 100%;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    top: 9px;
    margin-left: 0;
  }
  .section.expect .mountain-items .item:nth-of-type(4) {
    left: 36%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    top: 0px;
  }
  .section.expect .mountain-items .item:nth-of-type(4)::before,
  .section.expect .mountain-items .item:nth-of-type(1)::before {
    left: 55%;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 100%;
  }
  .section.expect .mountain-items .item:nth-of-type(5) {
    left: 56%;
  }
  .section.expect .mountain-items .item:nth-of-type(6) {
    left: 66%;
  }
  .section.expect .mountain-items .item:nth-of-type(7) {
    left: calc(var(--mountain-item-left) * 6);
  }
  .section.expect .mountain-items .item:nth-of-type(8) {
    left: calc(var(--mountain-item-left) * 7);
  }
  .section.expect .mountain-items .item:nth-of-type(9) {
    left: calc(var(--mountain-item-left) * 8);
  }
}

.section.coaches .coach-slide img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.section.coaches .coach-slide p {
  word-spacing: 100vw;
}

.coach-slide {
  margin-bottom: 25px;
}

.coach-slide .swiper-slide-next .image-container {
  width: 110px;
  height: 110px;
}

.coach-slide .image-container {
  width: 100px;
  height: 100px;
  margin: auto;
}

.section.page-gallery {
  padding-bottom: 100px;
}

.section.page-gallery .galeria-container {
  max-width: 1024px;
  margin: auto;
  padding: 7px;
}

.section.page-gallery .image-container {
  background: var(--base-color-1);
  border-radius: var(--base-border-radius);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section.page-gallery .image-container > span {
  height: 57vw !important;
  max-height: 350px;
  max-width: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section.page-gallery .img-nav {
  scroll-behavior: smooth;
  margin: 11px 0px 0px -8px;
  overflow: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-padding: 20px;
}
.section.page-gallery .img-nav::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.section.page-gallery .img-nav .buttons {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section.page-gallery .small-image.selected {
  border: 2px solid var(--base-color-2);
}
.section.page-gallery .small-image {
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--base-border-radius);
}
.section.page-gallery .small-image:last-child {
  margin-right: 0;
}
.section.page-gallery .small-image img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--base-border-radius);
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.section.page-gallery .small-image .wrapper {
  border-radius: var(--base-border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section.page-gallery .small-image.selected .wrapper {
  border: 2px solid var(--base-color-2);
}
.section.page-gallery .small-image.selected img {
  -webkit-filter: none;
  filter: none;
}
.section.page-gallery .galeria-container .buttons .swiper-button-next {
  right: 0px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section.page-gallery .galeria-container .buttons .swiper-button-prev {
  left: 0px;
}

.section.page-gallery .button {
  margin-top: 15px;
}

@media (min-width: 1230px) {
  .reviews-container .swiper-wrapper {
    padding-left: 40px;
  }
}

.review-cards .card {
  background: white;
  border-radius: var(--base-border-radius);
  padding: 5px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 25px;
}

.review-cards .card .qvot {
  height: 25px;
  width: 25px;
}
.review-cards .card .card-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.review-cards .card-content p {
  color: black;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin: 0;
}
.review-cards .card-content .profile-pic {
  height: 75px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 75px;
}
.review-cards .card-content .profile-pic > span {
  border-radius: 50%;
}
.review-cards .name {
  text-align: right;
}
.review-cards .name > span {
  font-weight: 100;
  font-size: 13px;
  color: gray;
}

.section.supporters .supporter-container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section.supporters .supporter-container .supporter {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3);
  flex: 0 0 calc(100% / 3);
  max-width: 140px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section.supporter .logo-container {
  margin-top: 25px;
}

.contact-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact-container > div {
  margin-bottom: 20px;
}

.contact-container .email-subject {
  width: 219px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
  text-align: center;
}
.contact-container .input,
.contact-container p,
.contact-container .MuiAlert-standardError {
  width: 100%;
}

.contact-container .MuiAlert-standardError {
  padding: 0 10px;
  font-size: 12px;
  align-items: center;
  color: #da1414;
  margin-bottom: 5px;
}
.MuiAlert-standardError > div {
  padding: 4px 0px;
}

/* .MuiAlert-standardError{ */
.contact-container .name-email-fields {
  width: 100%;
}
.contact-container .name-email-fields .MuiFormControl-root {
  margin-bottom: 10px;
}
.contact-container .text-area-input {
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .contact-container .name-email-fields {
    display: flex;
    column-gap: 25px;
  }
  .contact-container .email-subject {
    width: 100%;
  }
  .contact-container p {
    width: 900px;
  }
  .contact-container .input.text-area-input {
    width: 100%;
  }
  .contact-container textarea {
    min-width: 900px;
    max-width: 100%;
  }

  .review-cards .card {
    margin: 0px 2px;
  }

  .contact-container .btn {
    margin: auto;
  }
}

textarea ~ label {
  color: #718096;
  font-size: 15px;
  left: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  line-height: 1.5;
}
textarea {
  min-width: 219px;
  max-width: 219px;
  padding: 11px;
  padding-top: 20px;
  border: 1px solid #e2e8f0;
  font-size: 14px;
  border-radius: var(--base-border-radius);
  color: black;
  background: #fff;
  outline: 0;
}

textarea ~ label {
  top: 18px;
}

area:focus ~ label {
  font-size: 11px;
}

footer .section.footer {
  background: white;
  padding-top: 30px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

footer .section.footer > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
footer .section.footer > .logo-container {
  -ms-flex-preferred-size: 102px;
  flex-basis: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .section.footer h3 {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 14px;
  line-height: 35px;
  font-family: noto-sans;
}
footer .section.footer h3::before {
  bottom: 4px;
}

footer .section.footer .footer-menu {
  font-size: 14px;
  margin-bottom: 7px;
}
footer .section.footer .footer-menu a {
  line-height: 24px;
  color: #000;
}
footer .section.footer .btn {
  margin-bottom: 8px;
}
footer .section.footer .quick-contact {
  margin-top: 10px;
  font-size: 11px;
}
footer .section.footer .quick-contact a {
  color: #000;
}

footer .section.footer .social-media-ref {
  margin: 10px 0px;
}
footer .section.footer .social-media-ref a {
  margin: 0px 10px;
}

footer .section.footer .general > div {
  margin: 0px 10px;
}
footer .section.footer .general {
  margin-right: 15px;
}

footer .section.footer .kapcsolat h3 {
  display: none;
}
footer .section.footer .controls h3 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (min-width: 650px) {
  footer .section.footer > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 270px;
    flex: 0 1 270px;
  }
  footer .section.footer > .logo-container {
    margin-bottom: 5px;
  }
  footer .section.footer > .controls {
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  footer .section.footer .kapcsolat h3 {
    display: inline-block;
  }
}

@media (min-width: 1230px) {
  textarea ~ label {
    top: 18px;
  }
}

.icon-card-container {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-card-container > div {
  width: 95px;
  margin: 0px 3px;
  margin-bottom: 20px;
}

@media (min-width: 1230px) {
  .icon-card-container > .icon-card {
    row-gap: 15px;
  }
}

.icon-card-container p {
  font-size: 14px;
  margin: 5px 0px;
}

body .swiper-button-next:after,
body .swiper-button-prev:after {
  content: "" !important;
  height: 34px;
  width: 17px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -o-object-fit: contain;
  object-fit: contain;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
  background: url(/icons/arrow-right.svg) !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
  background: url(/icons/arrow-left.svg) !important;
}

.reviews-container .swiper-button-prev:after,
.reviews-container .swiper-rtl .swiper-button-next:after {
  /* margin-right: 4px; */
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.reviews-container .swiper-button-next:after,
.reviews-container .swiper-rtl .swiper-button-prev:after {
  /* margin-left: 30px; */
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.reviews-container .swiper-button-prev,
.reviews-container .swiper-rtl .swiper-button-next {
  left: 0px;
}
.reviews-container .swiper-button-next,
.reviews-container .swiper-rtl .swiper-button-prev {
  right: 0px;
}

.reviews-container p {
  font-size: 16px;
}
/* Edzéstervezés */

.details-container {
  text-align: left;
  max-width: 400px;
  list-style: none;
  margin-left: 0;
}
.details-container li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--base-color-2);
  width: 100%;
  padding-left: 24px;
}
.details-container details {
  cursor: pointer;
  outline: none;
}
details summary::marker {
  content: none;
}
details summary {
  padding-right: 1ch;
  color: #000;
}
.details-container summary::before {
  content: url(/img/list-style.svg);
  position: absolute;
  left: -23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
details summary::-webkit-details-marker {
  display: none;
}
details summary {
  outline: none;
}
details summary:after {
  content: url(/img/arrow.svg);
  position: absolute;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 25px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  right: 0;
}
details[open] summary:after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.edzestervezes .icon-card-container.rounded-card-image .card-image img {
  filter: brightness(0) invert(1);
}

.icon-card-container.rounded-card-image .card-image {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .details-container {
    max-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px 20px;
  }
}

.count-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.count-task-container p {
  font-size: 15px;
}

.count-task-container .task:first-of-type:before {
  content: "";
  height: 300%;
  width: 2px;
  position: absolute;
  top: 25%;
  left: 35px;
  /* translate: 0% -50%; */
  background: black;
}
.count-task-container .task {
  margin: 0px 8px;
}

.count-task-container .task .count {
  width: 70px;
  background: black;
  height: 70px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
}

.count-task-container .task p {
  max-width: 290px;
  text-align: left;
}

@media (min-width: 650px) {
  .details-container {
    max-width: unset;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 20px;
    width: 80%;
    margin-left: -25px;
  }
  .count-task-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 250px;
  }

  .count-task-container .task:nth-of-type(odd):before {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    top: 25%;
    left: 35px;
    background: black;
  }
  .count-task-container .task p {
    max-width: 31vw;
  }
}
@media (min-width: 1230px) {
  .count-task-container .task {
    flex-direction: column;
  }
  .count-task-container .task .count {
    width: 111px;
    height: 111px;
    font-weight: bold;
  }

  .count-task-container .task p {
    max-width: 250px;
    text-align: center;
  }
  .count-task-container .task:nth-of-type(odd):before {
    content: none;
  }
  .count-task-container:before {
    content: "";
    height: 2px;
    width: 75%;
    position: absolute;
    top: 23%;
    left: 50%;
    background: black;
    transform: translateX(-50%);
  }

  .pricing-container + h2 {
    margin-top: 150px;
  }
}

.packet-selector-container {
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.packet-selector-container .button {
  background: #e1e1e1;
  min-width: unset;
  margin: 0px 15px;
  color: #000;
}
.packet-selector-container .button[data-packet-name="basic"] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.packet-selector-container .button[data-packet-name="basicplus"] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.packet-selector-container .button[data-packet-name="pro"] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.packet-selector-container .button.active {
  background-color: var(--base-color-2);
  color: #fff;
}

.pricing-container .card .coaches-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 5px;
  padding: 0px 16px;
}

.pricing-container .card .coaches-container .coach-image {
  -ms-flex-preferred-size: 70px;
  flex-basis: 70px;
}
.pricing-container .card .coaches-container .coach-image > div {
  margin: auto;
}

.pricing-container .card .coaches-container .coach-image > span {
  border-radius: 50%;
}

.pricing-container .card .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 139px;
  margin: auto;
}
.pricing-container .card .price-container.euro {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid var(--base-color-2);
}

.pricing-container .card .price-container.euro .price {
  margin-right: 5px;
}

.pricing-container .card .price-container.sanyi {
  max-width: 179px;
}
.pricing-container .card .price-container .price {
  font-weight: bold;
  color: var(--base-color-2);
  font-size: 21px;
}
.pricing-container .card .price-container .upperindex {
  font-size: 11px;
}

.pricing-container .card .price-container > span {
  display: inline-block;
  vertical-align: middle;
}
.pricing-container .card .training-item-container::before {
  display: none;
}
.pricing-container .card .training-item-container p {
  color: #000;
}
.pricing-container .card .training-item-container .title > div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0;
}
.pricing-container .card .training-item-container .description {
  text-align: left;
  padding-left: 55px;
}

@media (min-width: 850px) {
  .pricing-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .pricing-container .card {
    margin: 10px 5px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .pricing-container .card[data-packet-name="basic"] {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .pricing-container .card[data-packet-name="basicplus"] {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .pricing-container .card[data-packet-name="pro"] {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.coach-select-container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.coach-select-container .coach-select {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffbfe;
  border-radius: var(--base-border-radius);
  margin: 10px 5px;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  width: 144px;
}
.coach-select-container .coach-select[data-web="szabo-sandor"] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.coach-select-container .coach-select .name {
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
}

.coach-preview-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.coach-preview-card-container .coach-preview-card {
  margin: 15px 5px 15px 5px;
  width: 300px;
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.coach-preview-card-container .coach-preview-card[data-web="szabo-sandor"] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.coach-preview-card-container .coach-preview-card .name {
  margin: 0;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
}

.coach-preview-card-container .coach-preview-card .title {
  font-size: 15px;
  line-height: 1;
}

@media (min-width: 1230px) {
  .coach-preview-card-container {
    margin-bottom: 80px;
  }
  .coach-preview-card-container + .btn {
    min-width: 250px;
    font-size: 22px;
  }
}

.profil-image ~ h2 {
  margin-bottom: 15px;
  font-family: "Britannic Bold";
}

.about-container h3 {
  color: #fff;
  font-size: 22px;
}

.about-container h3:before {
  width: 3ch;
  bottom: -5px;
}

.philosophies-container {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.philosophies-container .philosophy {
  margin: 10px 5px;
  width: 90px;
}

.section.success ul li {
  color: #fff;
  text-align: left;
  font-size: 15px;
}
@media (min-width: 600px) {
  .section.success ul {
    margin-left: 15%;
  }
}

.kozos-edzes-calendar-container .MuiTypography-overline,
.kozos-edzes-calendar-container .MuiPickersToolbar-content button,
.kozos-edzes-calendar-container .MuiDialogActions-root {
  display: none;
}
.kozos-edzes-calendar-container .MuiPickerStaticWrapper-content {
  background-color: var(--base-color-1);
  border-radius: var(--base-border-radius);
  color: white;
}
.kozos-edzes-calendar-container .MuiDatePickerToolbar-root {
  padding-bottom: 0px;
}

.kozos-edzes-calendar-container .MuiPickersToolbar-content h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.kozos-edzes-calendar-container
  .MuiDayPicker-monthContainer
  .MuiPickersDay-root {
  background: none;
  color: #fff;
  border-radius: 8px;
}

.kozos-edzes-calendar-container
  .MuiDayPicker-monthContainer
  .MuiBadge-overlapCircular {
  pointer-events: none;
  margin-top: 8%;
  margin-right: 10%;
}
.kozos-edzes-calendar-container
  .MuiDayPicker-monthContainer
  .MuiPickersDay-today {
  background-color: var(--base-color-2);
}
.kozos-edzes-calendar-container .MuiDayPicker-monthContainer .Mui-selected {
  color: var(--base-color-2);
  background-color: white;
  font-weight: bold;
  font-size: 15px !important;
  line-height: 1;
}

.kozos-edzes-calendar-container .MuiTypography-caption,
.kozos-edzes-calendar-container .MuiPickersArrowSwitcher-button,
.kozos-edzes-calendar-container .MuiPickersCalendarHeader-switchViewIcon {
  color: #797b86;
}

.running-event {
  margin-top: 15px;
}
.runing-event > div {
  margin: 10px 5px;
  text-align: left;
}
.runing-event > div b {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}
.runing-event > div span {
  display: inline-block;
  width: calc(65% - 6px);
  vertical-align: middle;
}
@media (min-width: 600px) {
  .runing-event > div {
    text-align: center;
  }
}

.camp-name {
  margin-bottom: 10px;
  line-height: 1.2;
  display: block !important;
}

@media (min-width: 600px) {
  .camp-name {
    text-align: center !important;
  }
}

.camp-selector .button {
  margin: 30px 5px 10px 5px;
}
.camp-selector .button:not(.selected) {
  background: #e1e1e1;
  color: #000;
}

.galeria-selector {
  margin-top: 15px;
}
.galeria-selector .button {
  margin: 10px 5px 10px 5px;
}
.galeria-selector .button:not(.selected) {
  background: #e1e1e1;
  color: #000;
}

.section.supporter h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.galeria-box::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.icon-card-container.association-counts > div:not(.charts) {
  padding-top: 10px;
}
.icon-card-container.association-counts > div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  width: calc(100% / 3);
  color: #191919;
  font-weight: bold;
}
.icon-card-container.association-counts > div p {
  padding-top: 20px;
}
.icon-card-container.association-counts > div.charts p {
  margin-top: -3px;
}

.circle-count {
  height: var(--association-charts-height);
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50%;
}
.circle-count.medal-count {
  background: #fcc201;
}
.circle-count.tag-count {
  background: #44a0e3;
}

.boys-girls-chart {
  font-size: 12px;
  width: 102px;
  height: 119px;
}
.tag-info-details .MuiPaper-elevation:before {
  display: none;
}
.tag-info-details {
  margin: auto;
  margin-bottom: 25px;
}

.tag-info-details .MuiAccordion-rounded {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--base-color-2) !important;
}

.tag-info-details .MuiAccordion-rounded p {
  text-align: center !important;
}
.tag-info-details .MuiAccordion-rounded .description-container {
  padding-bottom: 20px;
}

@media (min-width: 650px) {
  .tag-info-details {
    max-width: 500px;
  }
}
@media (min-width: 1230px) {
  .tag-info-details {
    margin-bottom: 50px;
  }
}

.modal-message {
  cursor: pointer;
}

.MuiFilledInput-input.Mui-disabled {
  background-color: rgb(148, 148, 148);
}

.MuiFilledInput-root.Mui-disabled {
  background-color: #fcfcfb;
}

.decoration.fill-img {
  width: 100%;
  min-height: 300px;
  margin: 15px 0px;
}
.decoration.fill-img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 30% 50%;
  object-position: 30% 50%;
}

@media (min-width: 650px) {
  .decoration.fill-img {
    min-height: 47vw;
    max-height: 600px;
  }
}

.MuiInputBase-root:hover {
  background-color: #fcfcfb;
}

.rolunk .page-gallery .video-responsive {
  margin: 16px 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 1230px) {
  .rolunk .page-gallery .video-responsive {
    margin: 110px 0px;
  }
}

.css-bn1soe:last-child {
  padding-bottom: 0px;
}

.edzestervezes h1 {
  margin-top: 70px;
}

.backButton {
  position: fixed;
  width: 25px;
  height: 25px;
  top: 14%;
  z-index: 555555;
  left: var(--base-section-padding);
  cursor: pointer;
  background: #cc4125a1;
  border-radius: 50%;
  padding: 3px;
}

.kapcsolat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 40px 0px;
}

.kapcsolat-container .quick-contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.kapcsolat-container .quick-contact a {
  font-family: noto-sans, sans-serif;
  border-bottom: 1px solid black;
}

.kapcsolat-container .social-media-ref {
  display: flex;
  column-gap: 10px;
}

@media (min-width: 600px) {
  .kapcsolat-container {
    gap: 40px;
  }
  .kapcsolat-container .quick-contact {
    flex-direction: row;
    column-gap: 15px;
  }
  .kapcsolat-container .social-media-ref {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .kapcsolat-container {
    gap: 90px;
  }
}

.layout.kozosedzesek .intro {
  padding-top: 80px;
}

.layout.egyesulet .intro {
  padding-top: 80px;
}

.layout.taborok .intro {
  padding-top: 80px;
}

.layout.galeria .intro {
  padding-top: 80px;
}

.succesfull-email {
  font-family: "Noto Sans";
  font-size: 24px;
  line-height: 1.5;
  margin-top: 25px;
  margin-bottom: 45px;
  color: #fff;
}

.all-coach {
  display: flex;
}

.subject-field {
  width: 100%;
  background-color: #fff;
}

@media (min-width: 1230px) {
  .edzestervezes .page-description {
    display: flex;
    column-gap: 40px;
  }

  .edzestervezes .page-description .image-container {
    flex: 100%;
    align-items: baseline;
    padding-top: 5px;
  }
  .edzestervezes .page-description p {
    margin: 0;
    line-height: 1.2;
    font-size: 23px;
  }
}

.taborok .intro .image {
  height: 37vh;
}

@media (min-width: 1230px) {
  .taborok h1 {
    margin-bottom: 80px !important;
  }
  .camp-selector .button {
    margin-bottom: 50px;
  }
  .taborok .intro .image {
    height: 70vh;
  }
  h2.camp-name::before {
    top: 60px;
    height: 2px;
  }
  .camp-name {
    margin-bottom: 70px;
  }
}

.taborok h2.left-align::before,
h3.left-align:before {
  width: 18ch;
}

.taborok .apply a {
  color: var(--base-color-1);
}

@media (min-width: 1230px) {
  .taborok .apply h2 {
    margin-bottom: 100px;
  }
}
